*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: nunito , Arial;
    background-color: #384b70;
}

html{
    scroll-behavior:smooth;
}

/*----INDEX----*/
/*Header start*/

.logo{
    display: flex;
    margin: 60px;
    width: 211px;
    height: 63px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #F98A4E;
    transition: width ease-in-out 0.5s ,
                height ease-in-out 0.5s
                ;  
}
.logo:hover{
    width: 222px;
    height: 66px;
}

header{
    display: flex;
    background-color: #EDF7FA;
    width: 100%;
    justify-content: center;
}

nav{
    display: inline-flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px;
    background-color: white;
}

nav ul{
    list-style-type: none;
    display: inline-block;
}

nav li{
    float: left;
    padding: 25px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 600;
}

nav a{
    text-decoration: none;
    color: #fcfaeedc;
    padding: 20px 35px;
    background-color: #507687;
    text-shadow: 1px 1px 5px #507687;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    transition: background-color ease-in-out 0.5s ,
                color ease-in-out 0.5s
    ;
}

nav a:hover{
    background-color: #384B70;
    color: #FCFAEE;
}


/*Let's work together*/
.btn{
    text-decoration: none;
    display: inline-flex;
    position: relative;
    float: right;
    margin: 50px;
    font-size: 25px;
    font-weight: 600;
    background-color: #E14D2A;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px black;
    color: #FCFAEE;
    font-size: 27px;
    font-weight: 700;
    transition: background-color ease-in-out 0.5s;
}

.btn:hover{
    background-color: #DD2C00;
}


/*Header end*/



/*section start*/
.hero{
    margin-top: 60px;
    display: flex;
    background-color: #507687;
    padding: 40px;
    margin: 30px;
    align-items: center;
    border-radius: 10px;
}

.hero img{
    margin-left: 100px;
    border-radius: 10px;
    height: 510px;
    width: 740px;
    box-shadow: 2px 2px 5px;
}



.text{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    margin-right: 300px;
    padding: 50px;
    width: 40%;
    height: auto;
}


.text h1{
    font-size: 35px;
    font-weight: 700;
    color: #FCFAEE;
    
}

.text p{
    margin-top: 50px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 400;
    color: #fdfcf8;
}

.text a{
    text-decoration: none;
    color :#FCFAEE ; 
    background-color: #DD2C00;
    margin-top: 60px;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px black;
    font-size: 20px;
    font-weight: 600;
    transition: background-color ease-in-out 0.5s;
}

.text a:hover{
    background-color: #E14D2A;
}

/*section end*/

/*Project start*/

.project-container{
    background-color :#384B70;
    display: block;
    margin: 120px 30px;
}

.project-container h1{
    display: flex;
    justify-content: center;
    padding: 130px 0 0 50px;
    font-size: 60px;
    font-weight: 700;
    color: #FCFAEE;
}

.projects{
    display:flex;
    margin: 60px;
    padding: 80px;
    background-color :#507687;
    border-radius: 10px;
}

.project-card{
    display: block;
    padding: 40px;
    width: auto;
    background-color  :#384b708a;
    justify-content: center;
    margin-left: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(25, 25, 25, 0.526);
}

.project-card h2{
    margin: 10px;
    text-align: center;
    color: #EDF7FA;
    font-weight :600;
    font-size: 35px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.53);
}

.project-card p{
    text-align: center;
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
    color: #FCFAEE;
}
#projectimg{
    border-radius: 5px;
}

.project-rm{
    text-decoration: none;
    color: #FCFAEE;
    display: flex;
    background-color: #E14D2A;
    justify-content: center;
    align-items: center;
    margin-top : 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.523);
    transition: background-color ease-in-out 0.5s;
    font-size: 20px;
}
.project-rm:hover{
    background-color: #DD2C00;
}

#moreprjctsh1{
    font-size: 40px;
    margin-top: 50px;
    margin-right: 15px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.53);
}

#moreprjctsa{
    display: block;
    text-decoration: none;
    background-color: #DD2C00;
    color: #EDF7FA;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    left: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.523);
    transition: background-color ease-in-out 0.5s;
    font-size: 22px;
}
#moreprjctsa:hover{
    background-color: #e14c2a;
}

/*Project end*/

/*Blog start*/

.blog-container{
    background-color:#384B70;
    display: flex;
    margin: 120px 30px;
    justify-content: center;
}

.blogs{
    background-color:#507687;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

.blog-text{
    text-align: center;
    margin: 10px;
}
.blog-text h1{
    color: #FCFAEE;
    font-size: 50px;
    font-weight: 700;
}
.blog-text h2{
    color: #EDF7FA;
    font-size: 30px;
}

.visit{
    background-color :#384B70;
    margin: 10px;
    width: 100%;
    text-align: center;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
}
.visit a{
    background-color :#E14D2A;
    display: inline-flex;
    margin-top: 30px;
    padding: 20px 40px;
    text-decoration: none;
    color: #EDF7FA;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.412);
    transition: background-color ease-in-out 0.5s;
}
.visit a:hover{
    background-color:#be2600;
}
.visit h3 , .lastpost h3{
    color: #FCFAEE;
    font-size: 30px;
    font-weight: 600;
}


.lastpost{
    background-color :#384B70;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
}
.lastpost img{
    width: 85%;
    height: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
    border-radius: 5px;
}
.lastpost h3{
    margin-bottom: 5px;
    color: #FCFAEE;
}
.lastpost h4{
    margin-top: 10px;
    font-size: 25px;
    color: #EDF7FA;
}
.lastpost p{
    color: #EDF7FA;
    font-size: 22px;
}
.lastpost a{
    color: #DD2C00;
    font-size: 23px;
    text-shadow: 2px 2px 5px ;
    transition: color ease-in-out 0.5s;
}
.lastpost a:hover{
    color: #be2600;
}
/*Blog end*/



/*Contact start*/

.contactini{
    display: flex;
    justify-content: center;
    background-color: #507687;
    align-items: center;
    padding: 40px;
    flex-direction: column;
}

.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/envelope.png);
    width: 750px;
    height: 530px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 2px 10px black;
}

.contact-form{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    z-index: 1;
    padding: 40px;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.contact-form h1{
    text-align: center;
    color: #E14D2A;
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
}

.contact-form label{
    color :#384B70;
    font-size: 18px;
}

.contact-form input, 
.contact-form textarea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
    background-color: #EDF7FA;
    padding: 5px;
    border: 1px solid #507687;
    border-radius: 5px;
}

#formSubmit{
    background-color: #DD2C00;
    color:#FCFAEE ;
    padding: 15px 0 15px 0;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}


.cubes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    background-color :#e14c2a;
    margin: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.597);
}
.cubes h2{
    color: #EDF7FA;
    font-size: 30px;
    font-weight: 600;
}
#numail{
    color: #384B70;
    font-size: 25px;
    font-weight: 600;
}
.cubes a{
    text-decoration: none;
    color: #384B70;
    transition: color ease-in-out 0.5s;
}
.cubes a:hover{
    color :#DD2C00;
}
.cube{
    background-color :#FCFAEE;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}



/*Contact end*/


/*Footer start*/
footer{
    display: block;
    background-color:#384B70;
}

.footer-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navigation ul , .social ul{
    list-style-type: none;
    display: inline-block;
    padding: 100px;
    margin: 10px;
}

.navigation li a{
    text-decoration: none;
    color: #507687;
    font-size: 30px;
    font-weight: 500;
    text-shadow: 2px 2px 5px #50768773;
    transition: color ease-in-out 0.2s;
}
.navigation li img{
    width: 20px;
}
.navigation li a:hover{
    color :#DD2C00;
}

.social li{
    float: left;
    margin: 20px;
}
.social img{
    width: 50px;
    transition: width ease-in-out 0.1s;
}
.social img:hover{
    width: 52px;
}

footer p{
    display: flex;
    justify-content: center;
    color: #e14c2ad8;
    font-size: 20px;
    word-spacing: 5px;
}
#aina{
    color: #E14D2A;
    text-decoration: none;
    transition: color ease-in-out 0.2s;
    font-size: 20px;
    word-spacing: 5px;
}
#aina:hover{
    color:#be2600;
}
#globe{
    width: 15px;
}
/*Footer end*/


/*----ABOUTME----*/
/*----BLOG----*/
/*----PROJECTS----*/
.undr-cnstrctn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 600px;
    font-size: 25px;
    text-shadow: 2px 2px 5px rgba(255, 68, 0, 0.303);
    background-color:#EDF7FA ;
}
.undr-cnstrctn img{
    height: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
}
